<blockquote>
  <%= @question  %>
  <br>
  -You
</blockquote>
<br>
<blockquote>
  <%= @coach_answer %>
  <br>
  -Your coach
</blockquote>

<%# <a href="/ask">Ask a new question</a> %>
<%= link_to "Ask a new question", ask_path %>
