<form action="/answer" data-turbo="false" class="col-sm-3">
<div class="input-group mb-3">
  <label for="basic-url" class="col-form-label">Ask your coach.. </label>
  <input type="text" name="question" placeholder="What time is it?" id="basic-url" class="form-control">
  <input type="submit" value="Ask!" class="btn btn-outline-secondary">
</div>
</form>

  <%# <input type="text" class="form-control" placeholder="Recipient's username" aria-label="Recipient's username" aria-describedby="button-addon2">
  <button class="btn btn-outline-secondary" type="button" id="button-addon2">Button</button> %>
